@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

body {
    background: #0f0e17;

}

.container{
    max-width: 75%;
    margin: 0 auto;
    padding: 10px;
}

#header {
    color: #fffffe;
    
}
.navbar h2 {
    font-size: xx-large;
    font-weight: bold;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu li {
    list-style: none;
    margin: 10px;
}
li a {
    text-decoration: none;
    color: #fffffe;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}
li a:hover{
    color: #e53170;
    transition: 300ms;
}

#myprofile > .container{
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
}

.myprofile img {
    border-radius: 50%;
    border: 1px solid gainsboro;
    width: 250px;
    height: 250px;
}

.myprofile{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}
.profile-details #name {
    font-size: 50px;
    color: #fffffe;
    text-transform: uppercase;
    line-height: 1.8;
    letter-spacing: 0.1em;
}
.profile-details h3 {
    font-size: x-large;
    color: #fffffe;
    
}
.profile-details p {
    font-size: 18px;
    color: #a7a9be;
    
}
.profile-details ul li {
    list-style: none;
    font-size: 18px;
    color: white;
    
}#projects{
    background: #fffffe;
}

#projects h1 {
    text-align: center;
    color: #0f0e17;
    font-size: xx-large;
    padding: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.git-projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f0e17;
    padding: 20px;
    border-radius: 20px;
}
.projects p {
    color: #a7a9be;
    border-top: 2px solid #f25f4c;
}
.projects h2 {
    color: #fffffe;
    font-size: x-large;
    font-weight: bold;
}
.projects a  {

    text-decoration: none;
    color: #fffffe;
    font-weight: bold;
    padding: 5px;
    background: #f25f4c;
}
.projects:hover{
    transform: scale(1.075);
    transition: 1s;
}
.contact-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact-details a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: large;
}
.socialmedia > a > span > i {
    padding: 10px;
    font-size: 50px;
}

.socialmedia{
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialmedia a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: x-large;
}

#contact h1 {
    text-align: center;
    font-size: xx-large;
    color: white;
    text-transform: uppercase;
    line-height: 1.8;
}

.socialmedia > a:hover{
    transform: scale(1.5);
    transition: 1s;
}
.contact-details > a:hover{
    transform: scale(1.075);
    transition: 1s;
}









@media (max-width:768px) {
    .navbar{
        flex-direction: column;
    }
    .myprofile{
        flex-direction: column;
        align-items: center;
    }
    .myprofile h1, h3{
        text-align: center;
    }

    .contact-details{
        flex-direction: column;
        align-items: flex-start;
    }

    .git-projects {
        grid-template-columns: repeat(1,1fr);
    }
    
    
}
