@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

#header {
    background-color: #74ebd5;
    position: sticky;
    top: 0;
    
}
.navbar h2 {
    font-size: xx-large;
    font-weight: bold;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu li {
    list-style: none;
    margin: 10px;
}
li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}
li a:hover{
    color: whitesmoke;
    transition: 300ms;
}

#myprofile > .container{
    background: #364d55;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
}

.myprofile img {
    border-radius: 50%;
    border: 1px solid gainsboro;
    width: 250px;
    height: 250px;
}

.myprofile{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}
.profile-details #name {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    line-height: 1.8;
    letter-spacing: 0.1em;
}
.profile-details h3 {
    font-size: x-large;
    color: white;
    
}
.profile-details p {
    font-size: 18px;
    color: white;
    
}
.profile-details ul li {
    list-style: none;
    font-size: 18px;
    color: white;
    
}


#projects h1 {
    text-align: center;
    color: white;
    font-size: xx-large;
    padding: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.git-projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: #74ebd5;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6); 
}
.projects p {
    border-top: 1px solid rgb(5, 105, 119);
}
.projects h2 {
  
    font-size: xx-large;
    font-weight: bold;
}
.projects a  {

    text-decoration: none;
    color: black;
    border: 1px solid green;
    background: green;
}
.projects:hover{
    transform: scale(1.075);
    transition: 1s;
}



.container > .git-projects {
    background: #364d55;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
}
.contact-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact-details a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: x-large;
}
.socialmedia > a > span > i {
    padding: 10px;
    font-size: 50px;
}

.socialmedia{
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialmedia a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: x-large;
}

#contact h1 {
    text-align: center;
    font-size: xx-large;
    color: white;
    text-transform: uppercase;
    line-height: 1.8;
}
.contact {
    border: 2px solid orange;
}

.socialmedia > a:hover{
    transform: scale(1.5);
    transition: 1s;
}
.contact-details > a:hover{
    transform: scale(1.075);
    transition: 1s;
}









@media (max-width:768px) {
    .navbar{
        flex-direction: column;
    }
    .myprofile{
        flex-direction: column;
        align-items: center;
    }
    .myprofile h1, h3{
        text-align: center;
    }

    .contact-details{
        flex-direction: column;
        align-items: flex-start;
    }

    .git-projects {
        grid-template-columns: repeat(1,1fr);
    }
    
    
}